main {
    display: grid;
}

header {
    grid-row: 1 /span 1;
    grid-column: 1/ span 1;
    background-color: aqua;
    height: 150px;
    padding-top: 20px;
}

.toph1 {
    display: inline;
    padding-bottom: 0;
    margin-bottom: 0px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    display: inline;
    margin-top: 1px;
    position: relative;
    top: 0px;
}

.logo {
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

body {
    margin: 0 0 0 0;
}

body {
    font-family: Arial, sans-serif;
    
    
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  width: 300px;
  margin-left: auto;
  padding: 20px;
  border: 5px solid #000000;
  border-radius: 5px;
  margin-right: 70px;
  z-index: 1; 
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 300px;
  position: relative;
  bottom: 50px;
  
}

h1 {
    text-align: left;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  color: #ffffff;
  position: relative;
  right: 150px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border: 2px solid aqua;
  }

  .btn {
    font-size: 17px;
    background: transparent;
    border-color: hsl(123, 17%, 58%);
    padding: 1em 1.5em;
    color: #3a3a3a;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    width: 100%;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #45a049;
    transition: .3s ease;
  }
  
  .btn:hover {
    color: #ffffff;
    border-color: transparent;
    transition-delay: .1s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: aqua;
    transition: .1s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.1s;
    color: rgb(219, 219, 219);
  }
  

.container{
    margin-top: 100px;
    grid-row: 2 /span 1;
    grid-column: 1/span 1;
    border-radius: 10px;
}

.login-success {
  color: green;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-failed {
  color: red;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
